@import '~/assets/sass/var/index.sass'

.button-primary
  display: inline-block
  border-radius: 4px
  border: 1px solid $button-primary
  color: $background-white
  text-decoration: none
  padding: 10px 30px
  box-shadow: 0 5px 10px rgba(0, 0, 0, .4)
  background-color: $button-primary
  &:hover
    color: $text-title
    background-color: $background-white
