@import './var/index.sass'

@import '~/assets/color/text.sass'

=shadow-basis($z-index: -1, $op: 1, $width: 100%)
  &::after
    content: ' '
    position: absolute
    top: 0
    left: 0
    width: $width
    height: 100%
    z-index: $z-index
    opacity: $op
    box-shadow: 0 1px 3px 1px rgba(60, 64, 67, .2), 0 2px 8px 4px rgba(60, 64, 67, .1)

=shadow-wrapper
  // box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .2), 0 1px 20px 0 rgba(0, 0, 0, .2), 0 2px 5px -1px rgba(0, 0, 0, .2)
  box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12)

=catalog-header
  /deep/ .catalog-text
    margin: 0 0 3.125rem 0
    text-align: center
    +mobile
      margin: 0 0 1.875rem 0

    .catalog-title
      letter-spacing: 5px
      text-transform: uppercase
      font-size: 1.125rem

    .catalog-subtitle
      color: $text-subtitle
      font-size: .875rem
      font-weight: normal

=position ($way: static, $top: null, $right: null, $bottom: null, $left: null)
  &.__position
    position: $way
    top: $top
    right: $right
    bottom: $bottom
    left: $left

/* RWD */

=mobile
  @media screen and (max-width: $tablet - 1px)
    @content

=tablet
  @media screen and (min-width: $tablet), print
    @content

=touch
  @media screen and (max-width: $desktop - 1px)
    @content

=desktop
  @media screen and (min-width: $desktop)
    @content

// =until-widescreen
//   @if $widescreen-enabled
//     @media screen and (max-width: $widescreen - 1px)
//       @content

// =widescreen
//   @if $widescreen-enabled
//     @media screen and (min-width: $widescreen)
//       @content

// =widescreen-only
//   @if $widescreen-enabled and $fullhd-enabled
//     @media screen and (min-width: $widescreen) and (max-width: $fullhd - 1px)
//       @content

// =until-fullhd
//   @if $fullhd-enabled
//     @media screen and (max-width: $fullhd - 1px)
//       @content

// =fullhd
//   @if $fullhd-enabled
//     @media screen and (min-width: $fullhd)
      @content
