$gap: 64px !default
$tablet: 769px !default
// 960px container + 4rem
$desktop: 960px + (2 * $gap) !default
// 1152px container + 4rem
$widescreen: 1152px + (2 * $gap) !default
$widescreen-enabled: true !default
// 1344px container + 4rem
$fullhd: 1344px + (2 * $gap) !default
$fullhd-enabled: true !default

// theme color
$theme-white: #ffffff
$theme-blue: #35495e
$theme-lightblue: #526488
$theme-deepblue: #2c3e50
$theme-deeperblue: rgba(27, 31, 35, .05)
$theme-cyan: #478582

$text-light: $theme-white
$text-dark: $theme-deepblue
$text-title: $theme-blue
$text-subtitle: $theme-lightblue
$text-quote: $theme-cyan
$background-dark: $theme-deeperblue
