@import '~/assets/sass/var/derived.sass'
// normal style

.ta-center
  text-align: center

.no-text-decoration
  text-decoration: none

.no-list-style
  list-style: none

// background

.bg-white-bis
  background-color: $white-bis
