// normal style

.ta-center
  text-align: center

.no-text-decoration
  text-decoration: none

.no-list-style
  list-style: none

// flex

.flex-js-center
  justify-content: center

.flex-ai-center
  align-items: center
