@import '~/assets/sass/var/index.sass'

@import '~/assets/color/background.sass'
@import '~/assets/color/text.sass'

table
  min-width: 100%
  border-collapse: collapse
  border-spacing: 0
  margin: 16px 0
  word-break: break-all // 解决小屏移动端表格撑开容器的问题
  tr:nth-child(2n)
    background-color: $table-color
  tr
    background-color: $background-white
    border-top: 1px solid $text-grey
    th, td
      padding: 6px 13px
      border: 1px solid $border
