/* basic color */
$black:        hsl(0, 0%, 4%) !default
$black-bis:    hsl(0, 0%, 7%) !default
$black-ter:    hsl(0, 0%, 14%) !default

$grey-darker:  hsl(0, 0%, 21%) !default
$grey-dark:    hsl(0, 0%, 29%) !default
$grey:         hsl(0, 0%, 48%) !default
$grey-light:   hsl(0, 0%, 71%) !default
$grey-lighter: hsl(0, 0%, 86%) !default

$white-ter:    hsl(0, 0%, 96%) !default
$white-bis:    hsl(0, 0%, 98%) !default
$white:        hsl(0, 0%, 100%) !default

$blue:         hsl(217, 71%, 53%) !default
$blue-light:   hsl(210°, 29%, 93%) !default // skeleton background color
$blue-lighter:   hsl(210, 29%, 97%) !default // github table

$orange:       hsl(14,  100%, 53%) !default
$yellow:       hsl(48,  100%, 67%) !default
$green:        hsl(141, 71%,  48%) !default
$turquoise:    hsl(171, 100%, 41%) !default
$cyan:         hsl(204, 86%,  53%) !default
$purple:       hsl(271, 100%, 71%) !default
$red:          hsl(348, 100%, 61%) !default


//primary
$pr-900: #24292e // hsl(210, 12%, 16%)
$pr-800: #363d45
$pr-700: #45505a
$pr-600: #546370
$pr-500: #617180
$pr-400: #788592
$pr-300: #909aa4
$pr-200: #b1b7bd
$pr-100: #d1d3d6
$pr-50: #ededed


// second
// optional
